/* Se você estiver usando Tailwind CSS, mantenha estas diretivas.
   Caso contrário, pode removê-las e adicionar seus próprios estilos base. */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta de Cores da Aplicação */
  --color-primary: #FF4C5B;
  --color-primary-dark: #114A70;
  --color-accent: #81000B;
  --color-neutral-dark: #49263E;
  --color-background-dark: #21111D;

  --color-text-primary: #1D1D1B;
  --color-text-secondary: #808080;

  --color-white: #FFFFFF;
  --color-black: #000000;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}